# ignore latex auxiliary files
*.log
*.aux
*.bbl
*.blg
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.lof
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist

.DS_Store

# experiment outputs written to the working directory
/*.png
/*.csv
